# Operators

We have 3 types of operators
- Arithmetic
- Comparison
- Logical

[Source](https://www.tutorialspoint.com/python/python_basic_operators.htm)


<table class="table table-bordered">
    <tbody>
        <tr>
            <th style="text-align:center;width:10%">Operator</th>
            <th style="text-align:center;width:10%">Operation</th>
            <th style="text-align:center;width:45%">Description</th>
            <th style="text-align:center;">Example</th>
        </tr>
        <tr>
            <td class="ts">+</td>
            <td class="ts">Addition</td>
            <td>Adds values on either side of the operator.</td>
            <td class="ts">a + b = 30</td>
        </tr>
        <tr>
            <td class="ts">-</td>
            <td class="ts">Subtraction</td>
            <td>Subtracts right hand operand from left hand operand.</td>
            <td class="ts">a – b = -10</td>
        </tr>
        <tr>
            <td class="ts">*</td>
            <td class="ts">Multiplication</td>
            <td>Multiplies values on either side of the operator</td>
            <td class="ts">a * b = 200</td>
        </tr>
        <tr>
            <td class="ts">/</td>
            <td class="ts">Division</td>
            <td>Divides left hand operand by right hand operand</td>
            <td class="ts">b / a = 2</td>
        </tr>
        <tr>
            <td class="ts">%</td>
            <td class="ts">Modulus</td>
            <td>Divides left hand operand by right hand operand and returns remainder</td>
            <td class="ts">b % a = 0</td>
        </tr>
        <tr>
            <td class="ts">**</td>
            <td class="ts">Exponent</td>
            <td>Performs exponential (power) calculation on operators</td>
            <td class="ts">a**b =10 to the power 20</td>
        </tr>
        <tr>
            <td class="ts">//</td>
            <td class="ts">Floor Division</td>
            <td>The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity) −</td>
            <td class="ts">9//2 = 4 and 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0</td>
        </tr>
    </tbody>
</table>

In [5]:
# Addition
a = 1
b = 2 
print(a + b) 
c = 10
d = 2
print(c+d)

# Concatenation 
a = '1'
b = '1'
print(a + b)
c = 'Hello '
d = 'World'
print(c+d)

3
12
11
Hello World

In [8]:
# Subtraction
a = 1 
b = 2
print(a-b)

# print('1' - '2') # Error - you can't do this

-1

In [9]:
# Multiplication
a = 1 
b = 1
print(a*b)

# c = '2'
# d = '3'
# print(c*d) # Error - You can't do this

1

In [12]:
# Division

a = 1 
b = 2
print(a/b)

# c = '2'
# d = '2'
# print(c/d) # Error - You can't do this

0.5

In [11]:
# Modulus 

a = 10
b = 2 
c = 3
print(a%b) # Remainder is 0
print(a%c) # Remainder is 1

0
1

In [13]:
# Exponent
a = 2
b = 4
print(a**b)

16

In [14]:
# Floor Division
a = 4
b = 3
print(a//b)

1

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td class="ts">(a == b) is not true.</td>
</tr>
<tr>
<td class="ts">!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td class="ts">(a != b) is true.</td>
</tr>
<tr>
<td class="ts">&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td class="ts">(a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td class="ts">&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td class="ts">(a &gt; b) is not true.</td>
</tr>
<tr>
<td class="ts">&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td class="ts">(a &lt; b) is true.</td>
</tr>
<tr>
<td class="ts">&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td class="ts">(a &gt;= b) is not true.</td>
</tr>
<tr>
<td class="ts">&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td class="ts">(a &lt;= b) is true.</td>
</tr>
</tbody></table>

In [16]:
a = 5
b = 3

print(a == b)
print(a != b)
# print(a <> b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">=</td>
<td>Assigns values from right side operands to left side operand</td>
<td style="vertical-align:middle;">c = a + b assigns value of a + b into c</td>
</tr>
<tr>
<td class="ts">+= Add AND</td>
<td>It adds right operand to the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c += a is equivalent to c = c + a</td>
</tr>
<tr>
<td class="ts">-= Subtract AND</td>
<td>It subtracts right operand from the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c -= a is equivalent to c = c - a</td>
</tr>
<tr>
<td class="ts">*= Multiply AND</td>
<td>It multiplies right operand with the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c *= a is equivalent to c = c * a</td>
</tr>
<tr>
<td class="ts">/= Divide AND</td>
<td>It divides left operand with the right operand and assign the result to left operand</td>
<td style="vertical-align:middle;">c /= a is equivalent to c = c / a
</td>
</tr>
<tr>
<td class="ts">%= Modulus AND</td>
<td>It takes modulus using two operands and assign the result to left operand</td>
<td style="vertical-align:middle;">c %= a is equivalent to c = c % a</td>
</tr>
<tr>
<td class="ts">**= Exponent AND</td>
<td>Performs exponential (power) calculation on operators and assign value to the left operand</td>
<td style="vertical-align:middle;">c **= a is equivalent to c = c ** a</td>
</tr>
<tr>
<td class="ts">//= Floor Division</td>
<td>It performs floor division on operators and assign value to the left operand</td>
<td style="vertical-align:middle;">c //= a is equivalent to c = c // a</td>
</tr>
</tbody></table>

In [19]:
a = 2
b = 2
c = 10
print(a)
a = 3
print(a)
a +=1
print(a)
b -= 1
print(b)
b *= 2
print(b)
b /= 2
print(b)
c %= 2
print(c)
c +=2
c **=2
print(c)
c //=2
print(c)

2
3
4
1
2
1.0
0
4
2

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td>and Logical AND</td>
<td class="ts">If both the operands are true then condition becomes true.</td>
<td class="ts">(a and b) is true.</td>
</tr>
<tr>
<td>or Logical OR</td>
<td class="ts">If any of the two operands are non-zero then condition becomes true.</td>
<td class="ts">(a or b) is true.</td>
</tr>
<tr>
<td>not Logical NOT</td>
<td class="ts">Used to reverse the logical state of its operand.</td>
<td class="ts">Not(a and b) is false.</td>
</tr>
</tbody></table>

In [22]:
a = False
b = True
print(a and b)
print(a or b)
print(not(a))

False
True
True

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">in</td>
<td>Evaluates to true if it finds a variable in the specified sequence and false otherwise.</td>
<td style="vertical-align:middle;">x in y, here in results in a 1 if x is a member of sequence y.</td>
</tr>
<tr>
<td class="ts">not in</td>
<td>Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.</td>
<td>x not in y, here not in results in a 1 if x is not a member of sequence y.</td>
</tr>
</tbody></table>

In [24]:
a = 'h'
b = 'hello'
c = 'world'
print(a in b)
print(a not in c)

True
True